/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    outline:0;
    -webkit-appearance: none;
    -webkit-user-select: none !important;
}

.workout-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.lift {
  margin: 0.5em 1em;
  border: 1px solid gray;
  padding: 0;
  height: 350px;
  background-image:url('../img/sandpaper.png');
  color: black;
  border-radius:25px;
}

.lift.failed h2 {
  background-color: #f88;
}

.lift.succeeded h2 {
  background-color: #8f8;
}

.lift h2 {
  font-size: 200%;
  background-color: white;
  border-radius: 25px 25px 0 0;
  margin-top: 0;
  padding: 1em 0.5em;
  border-bottom: 2px solid black;
}

.lift p {
  padding: 1em;
}

.lift .value {
  font-size: 400%;
}

.h1 {
  margin-left: 1em;
}

body {
  background-color: #005;
}

#appView {
  color: #ddd;
  padding: 1em;
}

#complete-workout {
  padding: 1em;
  border-radius:5px;
  background-color: green;
  margin-top: 20px;
  width: 100px;
  margin: 20px auto;
  color: white;
}

#complete-workout a {
  text-decoration: none;
}
